curl '$SERVICE_BASE_URL/embeddings' \
    -X 'POST' \
    -H 'Content-Type: application/json' \
    -H 'Accept: */*' \
    -H "Authorization: Bearer $UNITYSVC_API_KEY" \
    --data-binary '{"model":"{{ routing_key.model }}}}","input":"saturday"}'